#app {
}
.boxes {
    display: flex;
    flex-wrap: wrap;
    padding-top: var(--gutter);
    padding-left: var(--gutter);
}

.box {
    width: calc(25vw - (var(--gutter) * 2));
    margin-right: var(--gutter);
    height: calc(25vw - (var(--gutter) * 5));
    margin-bottom: var(--gutter);

    background-color: #ffffff;
    box-shadow: 2px 2px 15px -8px rgba(0, 0, 0, 0.52);
}

.box--text {
    padding: 10px;
}
.box--text p {
    margin-top: 0;
}

.box--image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
.box--image a {
    display: block;
    width: 100%;
    height: 100%;
}
