:root {
    --x-button-url: url('data:image/svg+xml,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g transform="rotate(45, 50, 50)"><rect x="45" y="10" width="10" height="80" fill="black" /><rect x="10" y="45" width="80" height="10" fill="black" /></g></svg>');
}

#app {
}
.boxes {
    display: flex;
    flex-wrap: wrap;
    padding-top: var(--gutter);
    padding-left: var(--gutter);
}

.box {
    width: calc(25vw - (var(--gutter) * 2));
    margin-right: var(--gutter);
    height: calc(25vw - (var(--gutter) * 2));
    margin-bottom: var(--gutter);

    background-color: #ffffff;
    box-shadow: 2px 2px 15px -8px rgba(0, 0, 0, 0.52);
}
@media screen and (max-width: 768px) {
    .box {
        width: calc(100vw - (var(--gutter) * 2));
        margin-right: var(--gutter);
        height: calc(100vw - (var(--gutter) * 2));
        margin-bottom: var(--gutter);
    }
}

.box p:first-child {
    margin-top: 0;
}

.box--plus a {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.box--plus svg {
    width: 80%;
}

.box--link {
    padding: 10px;
}
.box--link a {
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.box--link a:hover {
    background-color: #000088;
    color: white;
}
.box--link a:active {
    background-color: #000000;
    color: white;
}

.box--text {
    padding: 10px;
}
.box--text p {
    margin-top: 0;
}

.box--image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
.box--image a {
    display: block;
    width: 100%;
    height: 100%;
}

.box--newForm {
    display: flex;
    flex-direction: column;
    align-items: end;
    accent-color: lime;
}

    .newForm__close {
        display: block;
        background-image: var(--x-button-url);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        color: transparent;
        padding: 30px;
    }
    .newForm__close:hover {
        color: transparent;
    }
    @media screen and (max-width: 768px) {
        .newForm__close {
            padding: 18px;
        }
    }
    .newForm__form {
        width: 100%;
        padding: 0 var(--gutter);
    }

.box--newForm textarea {
    width: 100%;
    height: 6rem;
}
.box--newForm label {
    display: block;
    width: 100%;
}
.box--newForm input[type='text'],
.box--newForm input[type='url'] {
    width: 100%;
}

.box--newForm button {
    background: #555555;
    color: white;
}